<style type="text/css">

  body {
  background-color: green;
}

  h1 {
    text-decoration: underline;
    text-align: center;
  }
  .Bold {
    font-weight: bold; 
    color: red;
    text-align: center;
  }
  .Directions{
    font-style: italic;
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  .Image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
  }

</style>
<h1>Play 2</h1>
<h4 class = "Bold">Play Name: <%=@play2_name%></h4>
<p class = "Directions">Directions: <%=@play2_directions%></p>
<img class= "Image" src= "https://s-media-cache-ak0.pinimg.com/originals/79/88/5f/79885f316347d745209035a08d6b1c5d.jpg">